@font-face {
  font-family: "Unica";
  /* src: url("/assets/Unica77LL-Medium.otf") format("opentype"); */
  font-style: normal;
  font-weight: normal;
}

.disclaimer {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 99999999999999;

  display: none;
}

body {
  overflow: hidden !important;

  font-family: "Times New Roman", Times, serif;
  font-size: 3vh;
  margin: 5px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.header {
  margin-top: 1vh;
}
header {
  /* letter-spacing: -1.5px; */

  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: normal;
  align-items: center;
  z-index: 99999999999;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
  padding-top: 0vh;
}
.choose {
  padding: 2vh;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95%;
}

.hide {
  display: none;
}
.showing {
  display: block !important;
}
.cursor {
  cursor: url("/assets/cursor.cur"), auto;
}

#canvasHTML {
  display: flex;
}
#canvasWebcam {
  display: none;
}

.show {
  display: flex !important;
}
.canvas {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  padding-top: 1.75vh;
}
canvas {
  border-radius: 25px;
}

.area {
  height: 68vh;

  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#record {
  top: 50%;
  width: 38vh;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}

.reponse {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.border {
  border: none !important;
}

.text-area {
  width: 80%;
  height: 65vh;
  padding: 30vh 0;
  z-index: 99999999;
  outline: none !important;
  border: 1px solid black;
}
.send {
  height: 2vh;
  display: none;
  outline: none !important;
  border: 1px solid black;
  text-decoration: none;
  background-color: white;
  outline: none;
  background: none;
}
.send:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.numb {
  width: 4vw;
  z-index: 99999;
  height: 5vh !important;
  text-align: center;
  margin-top: 2vh;
  padding: 0 0px;
  outline: none !important;
  border: 1px solid black;

  border-radius: 10px;
}
textarea#text-val.numb {
  /* background-color: red;
  height: 100px; */
}
.span-number {
  padding-bottom: 1vh;
}

textarea {
  resize: none;
  font-family: "Unica";
  font-size: 3vh;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}
input {
  font-family: "Unica";
  width: 25vh;
  font-size: 3vh;
  padding: 1vh;
  border-radius: 35px !important;
  height: auto !important;
  text-align: center;
}
#dwn-photo {
  font-family: "Unica";
  width: 30vh;
  padding: 1vh;
  z-index: 999999999;
  border: 1px solid black;
  text-decoration: none;
  font-size: 3vh;
  display: none;
  border-radius: 30px;
  height: auto !important;
  text-align: center;
  background-color: white;
}
.rec-photo {
  display: flex;
  justify-content: center;
  text-align: center;

  width: 5vh;
  height: 5vh;

  padding: 0.5vh;

  z-index: 1000000;
}
.drop {
  display: flex;
  justify-content: center;
  text-align: center;

  width: 5vh;
  height: 5vh;

  padding: 0.5vh;

  z-index: 1000000;
}

.choose > div {
  cursor: pointer;
  border-radius: 5px;
}

.invert {
  filter: invert();
}
.draw-button {
  display: flex;
  justify-content: center;
  text-align: center;

  width: 5vh;
  height: 5vh;
  padding: 0.5vh;
  /* padding-top: 1vh; */

  z-index: 1000000;
}
.record-mic {
  display: flex;
  justify-content: center;
  text-align: center;

  width: 5vh;
  height: 5vh;
  padding: 0.5vh;
  z-index: 1000000;
}
.record-mic:hover {
  cursor: pointer;
}

.write-text {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 5vh;
  height: 5vh;
  font-size: 4vh;
  font-family: "Times New Roman", Times, serif;
  padding: 0.5vh;

  z-index: 1000000;

  z-index: 1000000;
}
.draw-button:hover {
  cursor: pointer;
  /* border-radius: 20px;
  border: 1px solid black; */
}
.choose div {
  display: flex;
  justify-content: center;
}
#clear {
  display: none;
  height: 6.4vh;
  width: 28vh;
  margin-right: 2vh;
  outline: none !important;
  display: none;
  border: 1px solid black;
  text-decoration: none;
  font-size: 3vh;
  border-radius: 30px;

  font-family: "Unica";
  background-color: white;
  outline: none;
  left: 0px !important;
  top: 0px !important;
  background: none;
  z-index: 100000;
}
#clear:hover {
  background-color: black;
  color: white;
}
#dwn-photo:hover {
  background-color: black;
  color: white;
}
.write-text:hover {
  cursor: pointer;
  /* border-radius: 20px;
  border: 1px solid black; */
}
.choose img {
}
.press {
  /* width: 5vh;
  height: 7.7vh; */
}
img {
  max-width: 100%;
}
.saveImage {
  height: 6.4vh;
  width: 28vh;
  margin-left: 2vh;
  outline: none !important;
  display: none;
  border: 1px solid black;
  text-decoration: none;
  font-size: 3vh;
  border-radius: 30px;

  font-family: "Unica";
  background-color: white;
  outline: none;
  left: 0px !important;
  top: 0px !important;
  background: none;
  z-index: 100000;
}
.saveImage:hover {
  background-color: black;
  color: white;
}
.rec-button {
  height: 9.4vh;
  width: 38vh;
  display: none;
  z-index: 10000000000;
  outline: none !important;
  border: 1px solid black;
  text-decoration: none;
  font-size: 3vh;
  font-family: "Times New Roman", Times, serif !important;
  letter-spacing: 1px;
  border-radius: 100px;
  font-family: "Unica";
  background-color: white;
  outline: none;

  z-index: 100000;
}
.rec-button:hover {
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.regle {
  padding: 30px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 9999999;
  text-align: left;
}

.span-number:nth-child(2) {
  margin-top: 2vh;
}

.instruction {
  display: flex;
  width: 95%;
  font-size: 10vh;
  height: 60vh;
  padding: 2vh;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 9.5vh;
  border: 1px solid black;

  flex-direction: column;
}
.indication {
  font-size: 7vh;
  line-height: 7vh;

  display: flex;
  flex-direction: column;
}

.instruction span:nth-child(2) {
  margin-left: 0vh;
}
.instruction span:nth-child(3) {
  margin-left: 8vh;
}
.instruction span:nth-child(4) {
  margin-left: 8vh;
}
.instruction span:nth-child(5) {
  margin-left: 8vh;
}
/*
.instruction span:nth-child(6) {
  margin-left: 16vh;
}
.instruction span:nth-child(7) {
  margin-left: 8vh;
} */
#begin {
  display: flex;
  width: 58vw;
  font-size: 10vh;
  height: 15vh;
  margin-top: 8.5vh;
  padding-left: 2vh;
  justify-content: center;
  align-items: flex-start;
  line-height: 9.5vh;
  border: 1px solid black;
  border-radius: 10vh;

  flex-direction: column;
}
#begin:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.instruction:hover {
  background-color: black;
  color: white;
}

.rules {
  position: absolute;
  left: 0;
  font-size: 2vh;
  margin-left: 2vh;
  margin-top: 1vh;
}

.rules:hover {
  cursor: pointer;
  opacity: 0.2;
}

.record-animation {
  -webkit-animation: fadein 2s ease-in-out alternate infinite;
  -moz-animation: fadein 2s ease-in-out alternate infinite;
  animation: fadein 2s ease-in-out alternate infinite;
}

@keyframes fadein {
  from {
    background-color: rgba(255, 0, 0, 1);
  }
  to {
    background-color: rgba(255, 0, 0, 0.3);
  }
}
.wrapper-drop {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  z-index: 9999999;
  justify-content: center;
  align-items: center;
  display: none;
}
#image_drop_area {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 79.3%;
  height: 65vh;
  border: 0.1px solid rgb(0, 0, 0);
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
.drop-button {
  display: none;
  font-family: "Unica";
  width: 25vh;
  font-size: 3vh;
  padding: 1vh;
  border: 0.1px solid rgb(0, 0, 0);
  text-decoration: none;
  color: black;
  border-radius: 35px !important;
  height: auto !important;
  text-align: center;
  cursor: pointer;
}
.drop-button:hover {
  color: white;
  background-color: black;
}
