@font-face {
  font-family: "Corpo";
  /* src: url("/assets/Corpo77LL-Medium.otf") format("opentype"); */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Corpo";
  src: url("assets/GaramondCorporate-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "Corpo";
  src: url("../css/GaramondCorporate-Regular.otf") format("otf");
} */

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-stroke: 0.3pt;
}
.disclaimer {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 99999999999999;

  display: none;
}

body {
  overflow: hidden !important;
  background-color: rgb(233, 233, 233);
  letter-spacing: 0.5px;
  font-family: "Corpo";
  /* font-stretch: expanded; */

  font-size: 3vh;
  margin: 5px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.header {
  margin-top: 1vh;
  /* height: 50vh; */
}
header {
  /* letter-spacing: -1.5px; */

  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: normal;
  align-items: center;
  z-index: 99999999999;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
  padding-top: 0vh;
}
.choose {
  padding: 2vh;
  padding-top: 3vh;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.hide {
  display: none;
}
.showing {
  display: block !important;
}
.cursor {
  cursor: url("/assets/cursor.cur"), auto;
}

#canvasHTML {
  margin-top: 16vh;
  display: flex;
}
#canvasWebcam {
  display: none;
}

.show {
  display: flex !important;
}
.canvas {
  position: absolute;
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  padding-top: 1.75vh;
}
canvas {
  border-radius: 25px;
}

.area {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#record {
  top: 45%;
  width: 33vh;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border: none;
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}

.reponse {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.border {
  border: none !important;
}

.text-area {
  margin-top: 1vh;
  width: 70%;
  height: 75vh;
  padding: 35vh 0;
  padding-right: 7vh;
  z-index: 99999999;
  outline: none !important;
  /* border: 1px solid black; */
  border: none;
}
.send {
  height: 2vh;
  display: none;
  outline: none !important;
  border: 1px solid black;
  text-decoration: none;
  background-color: white;
  outline: none;
  background: none;
}
.send:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.numb {
  margin-top: 10vh;
  width: 70%;
  height: 75vh;
  text-align: center;
  margin-top: 4vh;
  padding: 0 0px;
  font-size: 20vh;
  outline: none !important;
  border: none;
  /* border: 1px solid black; */

  border-radius: 10px;
}

.header {
  padding-top: 2.15vh;
}
textarea#text-val.numb {
  /* background-color: red;
  height: 100px; */
}
.span-number {
  padding-bottom: 1vh;
  /* color: white; */
  /* font-stretch: expanded; */
}

textarea {
  resize: none;
  font-family: "Corpo";
  font-size: 3vh;
  border-radius: 95px;
  padding: 20px;
  text-align: center;
}
input {
  font-family: "Corpo";
  width: 25vh;
  font-size: 3vh;
  padding: 1vh;
  border-radius: 95px !important;
  /* height: auto !important; */
  text-align: center;
}
#dwn-photo {
  font-family: "Corpo";
  width: 30vh;
  padding: 1vh;
  z-index: 999999999;
  border: 1px solid black;
  text-decoration: none;
  font-size: 3vh;
  display: none;
  border-radius: 30px;
  height: auto !important;
  text-align: center;
  background-color: white;
}
.rec-photo {
  display: flex;
  justify-content: center;
  text-align: center;

  width: 5vh;
  height: 5vh;

  padding: 0.5vh;

  z-index: 1000000;
}
.drop {
  display: flex;
  justify-content: center;
  text-align: center;

  width: 5vh;
  height: 5vh;

  padding: 0.5vh;

  z-index: 1000000;
}

.choose > div {
  cursor: pointer;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  border-radius: 5px;
}

.invert {
  filter: invert();
}
.draw-button {
  display: flex;
  justify-content: center;
  text-align: center;

  width: 5vh;
  height: 5vh;
  padding: 0.5vh;
  /* padding-top: 1vh; */

  z-index: 1000000;
}
.record-mic {
  display: flex;
  justify-content: center;
  text-align: center;

  width: 5vh;
  height: 5vh;
  padding: 0.5vh;
  z-index: 1000000;
}
.record-mic:hover {
  cursor: pointer;
}

.write-text {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 5vh;
  height: 5vh;
  font-size: 4vh;
  font-family: "Corpo";
  padding: 0.5vh;

  z-index: 1000000;

  z-index: 1000000;
}
.draw-button:hover {
  cursor: pointer;
  /* border-radius: 20px;
  border: 1px solid black; */
}
.choose div {
  display: flex;
  justify-content: center;
}
#clear {
  display: none;
  height: 6.4vh;
  width: 28vh;
  margin-right: 2vh;
  outline: none !important;
  display: none;
  border: 1px solid black;
  text-decoration: none;
  font-size: 3vh;
  border-radius: 95px;

  font-family: "Corpo";
  background-color: white;
  outline: none;
  left: 0px !important;
  top: 0px !important;
  background: none;
  z-index: 100000;
}
#clear:hover {
  background-color: black;
  color: white;
}
#dwn-photo:hover {
  background-color: black;
  color: white;
}
.write-text:hover {
  cursor: pointer;
  /* border-radius: 20px;
  border: 1px solid black; */
}
.choose img {
}
.press {
  /* width: 5vh;
  height: 7.7vh; */
}
img {
  max-width: 100%;
}
.saveImage {
  height: 6.4vh;
  width: 28vh;
  margin-left: 2vh;
  outline: none !important;
  display: none;
  border: 1px solid black;
  text-decoration: none;
  font-size: 3vh;
  border-radius: 30px;

  font-family: "Corpo";
  background-color: white;
  outline: none;
  left: 0px !important;
  top: 0px !important;
  background: none;
  z-index: 100000;
}
.saveImage:hover {
  background-color: black;
  color: white;
}
.rec-button {
  height: 9.4vh;
  width: 33vh;
  display: none;
  z-index: 10000000000;
  outline: none !important;
  border: none;
  text-decoration: none;
  font-size: 3vh;
  font-family: "Corpo" !important;
  letter-spacing: 1px;
  border-radius: 100px;
  font-family: "Corpo";
  background-color: white;
  outline: none;

  z-index: 100000;
}
.rec-button:hover {
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.regle {
  padding: 30px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 9999999;
  text-align: left;
}

.span-number:nth-child(2) {
  margin-top: 2vh;
}

.instruction {
  display: flex;
  width: 95%;
  font-size: 10vh;
  height: 60vh;
  padding: 2vh;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 9.5vh;
  border: 1px solid black;

  flex-direction: column;
}
.indication {
  font-size: 7vh;
  line-height: 7vh;

  display: flex;
  flex-direction: column;
}

.instruction span:nth-child(2) {
  margin-left: 0vh;
}
.instruction span:nth-child(3) {
  margin-left: 8vh;
}
.instruction span:nth-child(4) {
  margin-left: 8vh;
}
.instruction span:nth-child(5) {
  margin-left: 8vh;
}
/*
.instruction span:nth-child(6) {
  margin-left: 16vh;
}
.instruction span:nth-child(7) {
  margin-left: 8vh;
} */
#begin {
  display: flex;
  width: 58vw;
  font-size: 10vh;
  height: 15vh;
  margin-top: 8.5vh;
  padding-left: 2vh;
  justify-content: center;
  align-items: flex-start;
  line-height: 9.5vh;
  border: 1px solid black;
  border-radius: 10vh;

  flex-direction: column;
}
#begin:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.instruction:hover {
  background-color: black;
  color: white;
}

.rules {
  position: absolute;
  left: 0;
  font-size: 2vh;
  margin-left: 2vh;
  margin-top: 1vh;
}

.rules:hover {
  cursor: pointer;
  opacity: 0.2;
}

.record-animation {
  -webkit-animation: fadein 2s ease-in-out alternate infinite;
  -moz-animation: fadein 2s ease-in-out alternate infinite;
  animation: fadein 2s ease-in-out alternate infinite;
}

@keyframes fadein {
  from {
    color: rgba(0, 0, 0, 1);
  }
  to {
    color: rgba(255, 255, 255, 0.7);
  }
}
.wrapper-drop {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  z-index: 9999999;
  justify-content: center;
  align-items: center;
  display: none;
}
#image_drop_area {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10vh;
  width: 70%;
  z-index: 9999999;
  height: 75vh;
  background-color: white;
  /* border: 0.1px solid rgb(0, 0, 0); */
  border: none;
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 95px;
  display: none;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
.drop-title {
  padding-top: 3.5vh;
}
.drop-button {
  display: none;
  font-family: "Corpo";
  width: 25vh;
  font-size: 3vh;
  padding: 1vh;
  border: 0.1px solid rgb(0, 0, 0);
  text-decoration: none;
  color: black;
  border-radius: 35px !important;
  height: auto !important;
  text-align: center;
  cursor: pointer;
}
.drop-button:hover {
  color: white;
  background-color: black;
}

.response {
  top: 0;
  height: 10vh;
  display: flex;
  align-items: center;
}
.apercu {
  padding-top: 0.1vh;
  top: 0;
  height: 10vh;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

header {
  display: flex;
  justify-content: flex-start;

  height: 100vh;
}

.STEP-1 {
  display: block;
}
.STEP-2 {
  display: none;
}

.button-next {
  display: none;
  width: 5vw;
  height: 5vh;
  padding-top: 15px;
  text-align: center;
  font-size: 2.5vh;
  background-color: white;
  border-radius: 30px;
  position: absolute;
  top: 48%;
  right: 0;
  margin-right: 9vh;
  z-index: 999999999;
}
.button-back {
  display: block;
  width: 5vw;
  height: 5vh;
  padding-top: 15px;
  text-align: center;
  font-size: 2.5vh;
  background-color: white;
  border-radius: 30px;
  position: absolute;
  top: 48%;
  left: 0;
  margin-left: 9vh;
  z-index: 999999999;
}
.send-response {
  display: block;
  width: 5vw;
  height: 5vh;
  padding-top: 15px;
  text-align: center;
  font-size: 2.5vh;
  background-color: white;
  border-radius: 30px;
  position: absolute;
  top: 48%;
  right: 0;
  margin-right: 9vh;
  z-index: 999999999;
  cursor: pointer;
}

.STEP-3 {
  display: none;
  position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.send-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  padding-bottom: 3vh;
  bottom: 0;
}
.send-wrapper > div {
  margin-left: 4vh;
  margin-right: 4vh;
  border-radius: 20px;
  background-color: white;
  padding: 2vh;
  padding-left: 3vh;
  padding-right: 3vh;
  cursor: pointer;
}
.send-wrapper > a {
  margin-left: 4vh;
  margin-right: 4vh;
  border-radius: 20px;
  background-color: white;
  padding: 2vh;
  padding-left: 3vh;
  padding-right: 3vh;
  cursor: pointer;
}
.send-wrapper > div:hover {
  background-color: black;
  color: white;
}
.send-wrapper > a:hover {
  background-color: black;
  color: white;
}

.button-next:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.send-response:hover {
  background-color: black;
  color: white;
}

.button-back:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.p5Canvas {
  /* margin-right: 50vh;
  margin-bottom: 10vh; */
}

.fix {
  margin-right: 50vh;
  margin-bottom: 10vh;
}
.erase {
  position: absolute;
  opacity: 0;
  z-index: 99999999999999;
  padding-top: 13vh;
  transition: 1000ms ease;
}
.menu-title {
  position: fixed;
  display: flex;
  font-size: 1.5vh;
  top: 95%;
  left: 0;
  right: 0;
  width: 97%;
  margin: auto;

  justify-content: space-between;
}

.logo-web {
  max-width: 100%;
  height: 120vh;
  margin-bottom: 5vh;
}
.waiting-room {
  z-index: 99999999999999999999;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
}

.identifier {
  z-index: 99999999999999999999;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
}

.mini-logo-web {
  height: 25vh;
  margin-bottom: 28vh;
  position: absolute;
}

.pass {
  margin-bottom: 1.5vh;
}
.send-pass {
  display: none;
  position: absolute;
  margin-top: 18vh;
  height: 5vh;
  width: 10vh;
  border: black;

  background-color: white;
}
.send-pass:hover {
  opacity: 0.3;
  cursor: pointer;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

#name {
  border: solid 2px;

  border-color: black;
}
